flask
flask-cors
gunicorn

# honeycomb
opentelemetry-api==1.16.0
opentelemetry-exporter-otlp-proto-http==1.16.0
opentelemetry-instrumentation==0.37b0
opentelemetry-instrumentation-flask==0.37b0
opentelemetry-instrumentation-requests==0.37b0
opentelemetry-instrumentation-wsgi==0.37b0
opentelemetry-proto==1.16.0
opentelemetry-sdk==1.16.0
opentelemetry-semantic-conventions==0.37b0
opentelemetry-util-http==0.37b

# aws x-ray
aws-xray-sdk==2.11.0

# CloudWath
watchtower==3.0.1

# Rollbar
rollbar==0.16.3
blinker==1.5